#main{
    background-color: #f4f4f4;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
#title{
    border-bottom: 4px solid #4CAF50;
    text-align: center;
}
#title h1{
    margin:0px;
    padding:15px;
    font-family: 'Palatino';
    font-style: italic;
    font-size: 250%;
    color: #4CAF50;
}
#lanToggle{
    text-align: -webkit-center; 
    width: 200px;
    position: absolute; right:50px; top: 50px
}
#searchBar{
    text-align: center;
}
#bible{ 
    margin-top: 100px;
    text-align: center; 
}
#mainContent{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
